DEBUG=True
SECRET_KEY=django-development-secret-change-me
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Asia/Tehran

POSTGRES_DB=doctor_appointment
POSTGRES_USER=doctor_app
POSTGRES_PASSWORD=doctor_app_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@doctor-appointment.local
